@use '../../mixins';

.post {
  padding: 80px 0 160px;

  @include mixins.small-tablet {
    padding: 30px 0 80px;
  }

  @include mixins.mobile {
    padding: 20px 0 60px;
  }

  &__container {
    max-width: 940px;
  }

  &__title {
    margin-bottom: 80px;
    max-width: 870px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mixins.small-tablet {
      margin-bottom: 60px;
    }

    @include mixins.mobile {
      margin-bottom: 30px;
    }
  }

  &__head {
    @include mixins.flex-justify-between;
    align-items: flex-end;
    margin-bottom: 24px;

    @include mixins.small-tablet {
      @include mixins.flex-column;
      gap: 10px;
      align-items: center;
    }

    &-author {
      display: flex;
      gap: 24px;

      &-img {
        border-radius: 50%;
      }

      &-name {
        margin-bottom: 4px;
        font-weight: 600;
        line-height: 144%;
        color: var(--neutral-color-100);
      }

      &-job {
        font-weight: 500;
        line-height: 163%;
        color: var(--neutral-color-150);
      }
    }

    &-time {
      font-weight: 500;
      line-height: 150%;
      color: var(--neutral-color-150);
    }
  }

  &__image {
    margin-bottom: 80px;

    @include mixins.small-tablet {
      margin-bottom: 50px;
    }

    @include mixins.mobile {
      margin-bottom: 30px;
    }
  }

  &__descr {
    margin-bottom: 56px;
    font-weight: 400;
    line-height: 178%;
    color: var(--neutral-color-100);

    @include mixins.small-tablet {
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
    font-weight: 600;
    color: var(--neutral-color-100);
  }

  &__bottom {
    @include mixins.flex-justify-between;
    gap: 48px;

    @include mixins.mobile {
      @include mixins.flex-column;
    }

    &-image {
      flex-shrink: 0;
      width: 200px;
      height: 200px;
    }

    &-info {
      @include mixins.flex-column;
      gap: 14px;
    }

    &-links {
      @include mixins.flex-align-center;
      gap: 24px;

      @include mixins.small-tablet {
        @include mixins.flex-column;
        gap: 10px;
        align-items: flex-start;
      }
    }

    &-socials {
      @include mixins.flex-all-center;
      gap: 32px;
      overflow: hidden;
    }

    &-social {
      @include mixins.flex-all-center;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      background-color: var(--neutral-color-90);

      &-fb {
        transform: translateY(5px);
      }
    }

    &-link {
      font-weight: 500;
      line-height: 163%;
      color: var(--neutral-color-100);
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.7;
      }
    }

    &-texts {
      &-subtitle,
      &-name,
      &-job {
        margin-bottom: 16px;
      }

      &-subtitle {
        font-weight: 400;
        line-height: 150%;
        color: var(--neutral-color-150);
      }

      &-name {
        font-weight: 600;
        line-height: 131%;
        letter-spacing: -0.03em;
        color: var(--neutral-color-100);
      }

      &-job {
        font-weight: 500;
        line-height: 163%;
        color: var(--neutral-color-150);
      }

      &-descr {
        font-weight: 400;
        line-height: 178%;
        color: var(--neutral-color-100);
      }
    }
  }
}
