<section class="hero">
  <div class="container">
    <div class="hero__top">
      <h2 class="hero__title heading-h1">
        Everything you need to get the attention of your audience
      </h2>
      <p class="hero__descr text-p-subtitle">
        Our digital agency helps clients develop, implement and maintain
        successful digital marketing strategies across all channels. Also work
        with you to build your website and create online businesses that grow.
      </p>
      <a href="#" class="hero__link">
        <img src="./assets/icons/get-in-touch-icon.svg" alt="Arrow icon" />
      </a>
    </div>
    <!-- Slider main container -->
    <div class="hero__slider swiper">
      <!-- Additional required wrapper -->
      <div class="hero__slider-wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="hero__slide swiper-slide">
          <img
            src="./assets/images/about-slider-3.jpg"
            width="502"
            height="629"
            alt="A man typing on a laptop"
          />

          <div class="hero__slide-btns hero__slide-btns--first">
            <svg
              width="27"
              height="17"
              viewBox="0 0 27 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.1663 1.5L24.833 8.16667L18.1663 14.8333M8.16634 14.8333L1.49967 8.16667L8.16634 1.5"
                stroke="#1D1E25"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <!-- slide -->
        <div class="hero__slide swiper-slide">
          <img
            class="hero__slide-img"
            src="./assets/images/about-slider-2.jpg"
            width="502"
            height="370"
            alt="Boss talking to workers at the meeting"
          />
          <p class="hero__slide-descr text-p-medium">
            Over the years at Sans, we’ve put a lot of thought into what it is
            that makes us who we are. The qualities that unite us, that make us
            such an effective team, and...
          </p>
          <a href="#" class="hero__slide-link button-form">See Details -></a>

          <div class="hero__slide-btns hero__slide-btns--second">
            <svg
              width="27"
              height="17"
              viewBox="0 0 27 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.1663 1.5L24.833 8.16667L18.1663 14.8333M8.16634 14.8333L1.49967 8.16667L8.16634 1.5"
                stroke="#1D1E25"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <!-- slide -->
        <div class="hero__slide swiper-slide">
          <img
            src="./assets/images/about-slider-1.jpg"
            width="506"
            height="460"
            alt="Two women working together"
          />
        </div>
      </div>
    </div>
  </div>
</section>
