<section class="team">
  <div class="container">
    <h2 class="team__title heading-h2">
      Meet our team of creators, designers, and world-class problem solvers
    </h2>
    <p class="team__descr text-p-default">
      To become the company that customers want, it takes a group of passionate
      people. Get to know the people who lead
    </p>
    <!-- Slider main container -->
    <div class="team__slider swiper">
      <!-- Additional required wrapper -->
      <div class="team__slider-wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="team__slide swiper-slide">
          <img
            class="team__slide-img"
            src="./assets/images/team-stefano.jpg"
            loading="lazy"
            width="379"
            height="434"
            alt="Arlyne Stefano"
          />
          <div class="team__slide-descr">
            <div class="team__slide-text">
              <h5 class="team__slide-name text-p-large">Arlyne Stefano</h5>
              <p class="team__slide-job text-p-default">Founder & CEO</p>
            </div>

            <div class="team__slide-socials">
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/twitter-icon-dark.svg"
                  loading="lazy"
                  width="16"
                  height="13"
                  alt="Twitter icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/linkedin-icon-dark.svg"
                  loading="lazy"
                  width="17"
                  height="17"
                  alt="Linked in icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/instagram-icon-dark.svg"
                  loading="lazy"
                  width="18"
                  height="18"
                  alt="Instagram icon"
                />
              </a>
            </div>
          </div>

          <div class="team__slide-btns team__slide-btns--first">
            <svg
              width="27"
              height="17"
              viewBox="0 0 27 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
                stroke="#7E8492"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <!-- slide -->
        <div class="team__slide swiper-slide">
          <img
            class="team__slide-img"
            src="./assets/images/team-katy.jpg"
            loading="lazy"
            width="379"
            height="434"
            alt="Katy Cristy"
          />
          <div class="team__slide-descr">
            <div class="team__slide-text">
              <h5 class="team__slide-name text-p-large">Katy Cristy</h5>
              <p class="team__slide-job text-p-default">
                Chief Technology Officer
              </p>
            </div>

            <div class="team__slide-socials">
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/twitter-icon-dark.svg"
                  loading="lazy"
                  width="16"
                  height="13"
                  alt="Twitter icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/linkedin-icon-dark.svg"
                  loading="lazy"
                  width="17"
                  height="17"
                  alt="Linked in icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/instagram-icon-dark.svg"
                  loading="lazy"
                  width="18"
                  height="18"
                  alt="Instagram icon"
                />
              </a>
            </div>
          </div>

          <div class="team__slide-btns team__slide-btns--second">
            <svg
              width="27"
              height="17"
              viewBox="0 0 27 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
                stroke="#7E8492"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <!-- slide -->
        <div class="team__slide swiper-slide">
          <img
            class="team__slide-img"
            src="./assets/images/team-roger.jpg"
            loading="lazy"
            width="379"
            height="434"
            alt="Roger Dzawin"
          />
          <div class="team__slide-descr">
            <div class="team__slide-text">
              <h5 class="team__slide-name text-p-large">Roger Dzawin</h5>
              <p class="team__slide-job text-p-default">
                Chief Technology Officer
              </p>
            </div>

            <div class="team__slide-socials">
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/twitter-icon-dark.svg"
                  loading="lazy"
                  width="16"
                  height="13"
                  alt="Twitter icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/linkedin-icon-dark.svg"
                  loading="lazy"
                  width="17"
                  height="17"
                  alt="Linked in icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/instagram-icon-dark.svg"
                  loading="lazy"
                  width="18"
                  height="18"
                  alt="Instagram icon"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- slide -->
        <div class="team__slide swiper-slide">
          <img
            class="team__slide-img"
            src="./assets/images/team-katy.jpg"
            loading="lazy"
            width="379"
            height="434"
            alt="Katy Cristy"
          />
          <div class="team__slide-descr">
            <div class="team__slide-text">
              <h5 class="team__slide-name text-p-large">Katy Cristy</h5>
              <p class="team__slide-job text-p-default">
                Chief Technology Officer
              </p>
            </div>

            <div class="team__slide-socials">
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/twitter-icon-dark.svg"
                  loading="lazy"
                  width="16"
                  height="13"
                  alt="Twitter icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/linkedin-icon-dark.svg"
                  loading="lazy"
                  width="17"
                  height="17"
                  alt="Linked in icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/instagram-icon-dark.svg"
                  loading="lazy"
                  width="18"
                  height="18"
                  alt="Instagram icon"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- slide -->
        <div class="team__slide swiper-slide">
          <img
            class="team__slide-img"
            src="./assets/images/team-roger.jpg"
            loading="lazy"
            width="379"
            height="434"
            alt="Roger Dzawin"
          />
          <div class="team__slide-descr">
            <div class="team__slide-text">
              <h5 class="team__slide-name text-p-large">Roger Dzawin</h5>
              <p class="team__slide-job text-p-default">
                Chief Technology Officer
              </p>
            </div>

            <div class="team__slide-socials">
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/twitter-icon-dark.svg"
                  loading="lazy"
                  width="16"
                  height="13"
                  alt="Twitter icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/linkedin-icon-dark.svg"
                  loading="lazy"
                  width="17"
                  height="17"
                  alt="Linked in icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/instagram-icon-dark.svg"
                  loading="lazy"
                  width="18"
                  height="18"
                  alt="Instagram icon"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- Slides -->
        <div class="team__slide swiper-slide">
          <img
            class="team__slide-img"
            src="./assets/images/team-stefano.jpg"
            loading="lazy"
            width="379"
            height="434"
            alt="Arlyne Stefano"
          />
          <div class="team__slide-descr">
            <div class="team__slide-text">
              <h5 class="team__slide-name text-p-large">Arlyne Stefano</h5>
              <p class="team__slide-job text-p-default">Founder & CEO</p>
            </div>

            <div class="team__slide-socials">
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/twitter-icon-dark.svg"
                  loading="lazy"
                  width="16"
                  height="13"
                  alt="Twitter icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/linkedin-icon-dark.svg"
                  loading="lazy"
                  width="17"
                  height="17"
                  alt="Linked in icon"
                />
              </a>
              <a class="team__slide-socials-link" href="#">
                <img
                  class="team__slide-socialc-icon"
                  src="./assets/icons/socials/instagram-icon-dark.svg"
                  loading="lazy"
                  width="18"
                  height="18"
                  alt="Instagram icon"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team__bottom">
      <h2 class="team__bottom-title heading-h2">
        Join our team, The one with the master touch
      </h2>
      <div class="team__bottom-text">
        <p class="team__bottom-descr text-p-medium">
          We believe it takes great people to make a great product. That’s why we
          hire not only the perfect professional fits, but people who embody our
          company values.
        </p>
        <a href="#" class="team__bottom-link text-p-default">
          See Open Position ->
        </a>
      </div>
    </div>
  </div>
</section>
