@use '../../mixins';

.hero {
  padding: 90px 0 78px;

  @include mixins.mobile {
    padding: 40px 0 68px;
  }

  @include mixins.small-mobile {
    padding: 40px 0 68px;
  }

  &__top {
    padding-bottom: 186px;
    text-align: center;

    @include mixins.tablet {
      padding-bottom: 86px;
    }

    @include mixins.mobile {
      padding-bottom: 56px;
    }

    &::before {
      top: -50px;
    }

    &::after {
      bottom: -80px;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 24px;
    border-radius: 16px;
    padding: 4px 12px;
    font-weight: 600;
    line-height: 150%;
    color: var(--primary-color-30);
    background: #1463ff1a;

    @include mixins.small-mobile {
      margin-bottom: 18px;
    }
  }

  &__descr {
    margin: 0 auto 56px;
    max-width: 903px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mixins.mobile {
      margin-bottom: 36px;
    }
  }

  &__switcher {
    position: relative;
    border-radius: 12px;
    width: 44px;
    height: 24px;
    background-color: var(--neutral-color-30);

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      display: inline-block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: var(--primary-color-30);
      opacity: 0.6;
      transition:
        left var(--transition),
        opacity var(--transition);
    }

    &-checkbox {
      appearance: none;
    }

    &:has(&-checkbox:checked) {
      &::before {
        left: 22px;
        opacity: 1;
      }
    }

    &-wrapper {
      display: inline-flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
    }

    &-text {
      font-weight: 500;
      line-height: 163%;
      color: var(--neutral-color-150);
    }
  }

  &__item {
    border: 1px solid var(--neutral-color-30);
    border-radius: 16px;
    padding: 40px 24px;
    max-width: 378px;

    @include mixins.mini-desktop {
      max-width: 320px;
    }

    @include mixins.tablet {
      max-width: 450px;
    }

    &:first-child {
      @include mixins.tablet {
        order: 2;
      }
    }

    &:last-child {
      @include mixins.tablet {
        order: 3;
      }
    }

    &--popular {
      border: 1px solid var(--primary-color-60);
      box-shadow: 0 16px 24px 0 #1e1e1e14;
      background-color: var(--neutral-color-90);
      transform: translateY(-76px);

      @include mixins.tablet {
        order: 1;
        transform: inherit;
      }
    }
  }

  &__plans {
    @include mixins.flex-all-between;
    position: relative;

    @include mixins.tablet {
      gap: 20px;
      flex-direction: column;
    }

    &-icon {
      @include mixins.flex-all-center;
      margin-bottom: 16px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: var(--neutral-color-20);

      &--popular {
        background-color: var(--primary-color-30);
      }
    }

    &-flag {
      position: absolute;
      top: 40px;
      right: 24px;
      border-radius: 100px;
      padding: 6px 12px;
      font-weight: 500;
      line-height: 143%;
      color: #fff;
      background-color: var(--primary-color-30);
    }

    &-title {
      font-weight: 600;
      line-height: 142%;
      color: var(--neutral-color-100);

      &--popular {
        color: #fff;
      }
    }

    &-descr {
      margin-bottom: 24px;
      font-weight: 500;
      line-height: 163%;
      color: var(--neutral-color-150);
    }

    &-price {
      margin-bottom: 24px;
      font-weight: 600;
      letter-spacing: -0.04em;
      color: var(--neutral-color-100);

      &--popular {
        color: #fff;
      }

      &-text {
        font-weight: 500;
        line-height: 163%;
        color: var(--neutral-color-150);
      }
    }

    &-list {
      margin-bottom: 40px;

      &-title {
        margin-bottom: 16px;
        font-weight: 700;
        line-height: 150%;
        color: var(--neutral-color-100);

        &--popular {
          color: #fff;
        }
      }
    }

    &-item {
      @include mixins.flex-align-center;
      font-weight: 500;
      line-height: 163%;
      color: var(--neutral-color-100);

      &::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        color: #46b277;
        background: url('../../../icons/pricing-tick-icon.svg') no-repeat
          center / contain;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &--popular {
        color: #fff;
      }

      &--inaccess {
        text-decoration: line-through;
        color: var(--neutral-color-150);

        &::before {
          background: url('../../../icons/pricing-tick-icon-inaccess.svg')
            no-repeat center / contain;
        }
      }
    }

    &-btn {
      border: 1px solid var(--neutral-color-40);
      border-radius: 100px;
      padding: 16px 35px;
      font-weight: 600;
      line-height: 150%;
      color: var(--neutral-color-100);
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.8;
      }

      &--popular {
        color: #1d1e25;
        background-color: #fff;
      }

      &-wrapper {
        text-align: center;
      }
    }
  }
}
