<section class="post">
  <div class="post__container container">
    <h2 class="post__title heading-h1">
      How we perform long-running tasks using AWS services
    </h2>
    <div class="post__head">
      <div class="post__head-author">
        <img
          class="post__head-author-img"
          src="./assets/images/renee-wells-img.jpg"
          width="56"
          height="56"
          alt="Renee Wells"
        />
        <div class="post__head-author-text">
          <p class="post__head-author-name text-p-medium">Renee Wells</p>
          <p class="post__head-author-job text-p-default">
            Product Designer, Quotient
          </p>
        </div>
      </div>
      <p class="post__head-time text-p-medium">
        10 min read <time datetime="2023-11-10"> November 10, 2023</time>
      </p>
    </div>
    <img
      class="post__image"
      src="./assets/images/post-image.jpg"
      width="940"
      height="545"
      alt="Table with notebook on it and a chair nearby"
    />
    <p class="post__descr text-p-medium">
      Depending on the input, this can result in using a lot of processing power
      and time. The whole process would take approximately 5 seconds to return a
      result to the client. Keep in mind we’re talking about 1 item, a contact
      from a contact book. After a while, a new requirement is added. Solution
      must support companies that manage their contacts organized in files. We
      agreed to develop a web application that would support upload of dataset
      files, like .csv. The new web application should support third party
      integrations. Some of them are the ESP/CRM services, like Mailchimp. User
      does not need to see the result immediately. System can later notify the
      user about the result, when the process finishes. This information is the
      key that we need to leverage on when developing our solution. So here’s
      how we did it.
    </p>

    <h4 class="post__subtitle heading-h3">Initial approach</h4>
    <p class="post__descr text-p-medium">
      Our initial approach went like this: The web application would read a .csv
      file line-by-line and submit an array of entries to the backend REST API.
      Processing is in real time, immediately after the user makes a request for
      the process to start, he expects a result. Another approach is to apply
      vertical scaling to AWS architecture. Meaning we used larger, more
      expensive instances that have more RAM and processing power. This system
      worked well for smaller datasets, maybe up to 5k entries, but for larger
      datasets multiple problems arose. This solution is prone to failure due to
      long request time. Also, because of some 3rd party services that aren’t
      optimized for large scale loads or they don’t have batch endpoints. 3rd
      party services also tend to protect their architecture from making a huge
      bill on their end. The whole process was done in real-time. The request
      can take a lot of time hanging in there while the backend would do all the
      work and return the result to the client. The request was limited to 300
      seconds (at time of writing the article) before AWS would cancel it… Also
      I need to mention that the user has to wait a few minutes to see the
      results. They can’t use the app during the process, which makes for a bad
      user experience.
    </p>

    <div class="post__bottom">
      <div class="post__bottom-image">
        <img
          src="./assets/images/post-bottom-author.jpg"
          width="200"
          height="200"
          loading="lazy"
          alt="Renee Wells"
        />
      </div>
      <div class="post__bottom-info">
        <div class="post__bottom-links">
          <div class="post__bottom-socials">
            <a href="#" class="post__bottom-social">
              <img
                class="post__bottom-social-fb"
                src="./assets/icons/socials/facebook-icon-light.svg"
                width="14"
                height="26"
                alt="Facebook"
              />
            </a>
            <a href="#" class="post__bottom-social">
              <img
                src="./assets/icons/socials/twitter-icon.svg"
                width="16"
                height="13"
                alt="Twitter"
              />
            </a>
            <a href="#" class="post__bottom-social">
              <img
                src="./assets/icons/socials/linkedin-icon-light.svg"
                width="17"
                height="17"
                alt="Linked in"
              />
            </a>
            <a href="#" class="post__bottom-social">
              <img
                src="./assets/icons/socials/instagram-icon.svg"
                width="18"
                height="18"
                alt="Instagram"
              />
            </a>
          </div>
          <a href="#" class="post__bottom-link text-p-default"
            >Share this article</a
          >
        </div>
        <div class="post__bottom-texts">
          <p class="post__bottom-texts-subtitle text-p-default">Written by</p>
          <h5 class="post__bottom-texts-name heading-h5">Renee Wells</h5>
          <p class="post__bottom-texts-job text-p-default">
            Product Designer, Quotient
          </p>
          <p class="post__bottom-texts-descr text-p-medium">
            Skilled in React Native, iOS and backend, Toni has a demonstrated
            knowledge of the information technology and services industry, with
            plenty of hands-on experience to back it up.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
