<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          src="./assets/icons/partners/airbnb-logo.svg"
          loading="lazy"
          width="97"
          height="30"
          alt="Airbnb logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/amazon-logo.svg"
          loading="lazy"
          width="97"
          height="30"
          alt="Amazon logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/fedex-logo.svg"
          loading="lazy"
          width="95"
          height="29"
          alt="Fedex logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/microsoft-logo.svg"
          loading="lazy"
          width="115"
          height="25"
          alt="Microsoft logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/google-logo.svg"
          loading="lazy"
          width="90"
          height="30"
          alt="Google logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/ola-logo.svg"
          loading="lazy"
          width="93"
          height="32"
          alt="Ola logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/walmart-logo.svg"
          loading="lazy"
          width="113"
          height="27"
          alt="Walmart logo"
        />
      </li>
      <li class="partners__item">
        <img
          src="./assets/icons/partners/oyo-logo.svg"
          loading="lazy"
          width="79"
          height="28"
          alt="Oyo logo"
        />
      </li>
    </ul>
  </div>
</section>
