<section class="articles">
  <div class="container">
    <div class="articles__head">
      <div class="articles__info">
        <h2 class="articles__title heading-h2">Articles</h2>
        <p class="articles__descr text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articles__nav">
        <button class="articles__button articles__button--prev">
          <svg
            width="15"
            height="13"
            viewBox="0 0 15 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.93679 12.3364C6.58531 12.6879 6.01547 12.6879 5.66399 12.3364L0.263994 6.9364C-0.0874785 6.58493 -0.0874784 6.01508 0.263994 5.66361L5.664 0.263609C6.01547 -0.0878634 6.58532 -0.0878634 6.93679 0.263609C7.28826 0.615081 7.28826 1.18493 6.93679 1.5364L3.07318 5.4L13.5004 5.4C13.9974 5.40001 14.4004 5.80295 14.4004 6.30001C14.4004 6.79706 13.9974 7.20001 13.5004 7.20001L3.07318 7.2L6.93679 11.0636C7.28826 11.4151 7.28826 11.9849 6.93679 12.3364Z"
              fill="black"
            />
          </svg>
        </button>
        <button class="articles__button articles__button--next">
          <svg
            width="15"
            height="13"
            viewBox="0 0 15 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.4636 0.263604C7.81508 -0.087868 8.38493 -0.087868 8.7364 0.263604L14.1364 5.6636C14.4879 6.01508 14.4879 6.58493 14.1364 6.9364L8.7364 12.3364C8.38493 12.6879 7.81508 12.6879 7.4636 12.3364C7.11213 11.9849 7.11213 11.4151 7.4636 11.0636L11.3272 7.2L0.900001 7.2C0.402945 7.2 0 6.79706 0 6.3C0 5.80294 0.402945 5.4 0.900001 5.4H11.3272L7.4636 1.5364C7.11213 1.18492 7.11213 0.615076 7.4636 0.263604Z"
              fill="black"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Slider main container -->
    <div class="articles__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- slide -->
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/images/activity-article-1.jpg"
            width="405"
            height="577"
            loading="lazy"
            alt="A woman teaching a man"
          />
          <h5 class="articles__slide-title heading-h5">
            List of UX Designer Portfolio / Case Studies where you can make
            money
          </h5>
          <p class="articles__slide-descr text-p-medium">
            Here are some portfolios / Case Studies from UX Designers that you
            can use as a reference for creating a portfolio. Two interesting
            things from their portfolio are:
          </p>
          <a href="#" class="articles__slide-btn text-p-default">Read More</a>
        </div>
        <!-- slide -->
        <div class="articles__slide swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/images/activity-article-2.jpg"
            width="406"
            height="329"
            loading="lazy"
            alt="A woman and a man high five"
          />
          <h5 class="articles__slide-title heading-h5">
            Skyrocketing in The Designing Career, Why Not?
          </h5>
          <p class="articles__slide-descr text-p-medium">
            Ever thought of jumping into the world of design as a career? If
            not, you may want to look at what the word ‘design’ actually means.
            Design is a method of designing aesthetic actions that are carried
            out.
          </p>
          <a href="#" class="articles__slide-btn text-p-default">Read More</a>
        </div>
        <!-- slide -->
        <div class="articles__slide articles__slide--large swiper-slide">
          <img
            class="articles__slide-img"
            src="./assets/images/activity-article-3.jpg"
            width="476"
            height="695"
            loading="lazy"
            alt="Workers listening to boss"
          />
        </div>
      </div>
    </div>
  </div>
</section>
