<section class="hero hero-decoration">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__descr text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>

    <div class="hero__buttons text-p-default">
      <button
        class="hero__button hero__button--active"
        type="button"
        data-filter="all"
      >
        View all
      </button>
      <button class="hero__button" type="button" data-filter="design">
        Design
      </button>
      <button class="hero__button" type="button" data-filter="articles">
        Articles
      </button>
      <button class="hero__button" type="button" data-filter="product">
        Product
      </button>
      <button class="hero__button" type="button" data-filter="development">
        Software Development
      </button>
      <button class="hero__button" type="button" data-filter="success">
        Customer Success
      </button>
    </div>
    <!-- Slider main container -->
  </div>
</section>
<section class="hero__slider-section">
  <div class="hero__slider-container container">
    <div class="hero__slider swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- slide -->
        <div
          class="hero__slide swiper-slide"
          data-category="design development"
        >
          <img
            class="hero__slide-img"
            src="./assets/images/activity-slide-1.jpg"
            width="515"
            height="428"
            alt="A woman sitting with notebook and looking ay flowers"
          />
          <p class="hero__slide-date text-p-small">
            Published in Insight <time datetime="2021.01.30">Jan 30, 2021</time>
          </p>
          <h4 class="hero__slide-title heading-h5">
            Practice making User Flow
          </h4>
          <p class="hero__slide-descr">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <!-- slide -->
        <div class="hero__slide swiper-slide" data-category="design product">
          <img
            class="hero__slide-img"
            src="./assets/images/activity-slide-3.jpg"
            width="515"
            height="428"
            alt="Two women working together"
          />
          <p class="hero__slide-date text-p-small">
            Published in Insight <time datetime="2021.01.30">Jan 30, 2021</time>
          </p>
          <h4 class="hero__slide-title heading-h5">
            Overview of the Design Principles
          </h4>
          <p class="hero__slide-descr hero__slide-descr--long">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <!-- slide -->
        <div class="hero__slide swiper-slide" data-category="articles success">
          <img
            class="hero__slide-img"
            src="./assets/images/activity-slide-2.jpg"
            width="379"
            height="428"
            alt="A woman and man high five"
          />
          <p class="hero__slide-date text-p-small">
            Published in Insight <time datetime="2021.01.30">Jan 30, 2021</time>
          </p>
          <h4 class="hero__slide-title heading-h5">
            Using Grid in website design
          </h4>
          <p class="hero__slide-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
      </div>

      <div class="hero__slide-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1663 1.5L24.833 8.16667L18.1663 14.8333M8.16634 14.8333L1.49967 8.16667L8.16634 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
