<section class="posts">
  <div class="posts__wrapper">
    <div class="posts__container container">
      <article class="posts__article posts__article--mb">
        <img
          class="posts__img"
          src="./assets/images/activity-post-1.jpg"
          width="584"
          height="751"
          loading="lazy"
          alt="A chair and a notebook"
        />
        <h3 class="posts__title heading-h3">
          How we perform long-running tasks using AWS services
        </h3>
        <p class="posts__descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </article>
      <article class="posts__article">
        <img
          class="posts__img"
          src="./assets/images/activity-post-2.jpg"
          width="584"
          height="507"
          loading="lazy"
          alt="A chair and a notebook"
        />
        <h3 class="posts__title heading-h3">
          How to ask when doing User Research
        </h3>
        <p class="posts__descr text-p-medium">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </article>
      <article class="posts__article posts__article--mb">
        <img
          class="posts__img"
          src="./assets/images/activity-post-3.jpg"
          width="584"
          height="507"
          loading="lazy"
          alt="A chair and a notebook"
        />
        <h3 class="posts__title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h3>
        <p class="posts__descr text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </article>
      <article class="posts__article">
        <img
          class="posts__img"
          src="./assets/images/activity-post-4.jpg"
          width="584"
          height="751"
          loading="lazy"
          alt="A chair and a notebook"
        />
        <h3 class="posts__title heading-h3">
          Webflow Break the Coding Barrier
        </h3>
        <p class="posts__descr text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </article>
    </div>
  </div>
</section>
