<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we have some new Service to pamper you
    </p>

    <div class="insight__slider swiper">
      <div class="insight__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1663 1.5L24.833 8.16667L18.1663 14.8333M8.16634 14.8333L1.49967 8.16667L8.16634 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>

      <div class="swiper-wrapper">
        <!-- slide -->
        <div class="insight__slide swiper-slide">
          <img
            class="insight__slider-img"
            src="./assets/images/insight-slide-1-img.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and writing on notebook"
          />
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight
              <time datetime="2021-01-3-">Jan 30, 2021</time>
            </div>
            <address class="insight__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>

        <!-- slide -->
        <div class="insight__slide swiper-slide">
          <img
            class="insight__slider-img"
            src="./assets/images/insight-slide-2-img.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight
              <time datetime="2021-01-3-">Jan 30, 2021</time>
            </div>
            <address class="insight__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <!-- slide -->
        <div class="insight__slide swiper-slide">
          <img
            class="insight__slider-img"
            src="./assets/images/insight-slide-1-img.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and writing on notebook"
          />
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight
              <time datetime="2021-01-3-">Jan 30, 2021</time>
            </div>
            <address class="insight__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>

        <!-- slide -->
        <div class="insight__slide swiper-slide">
          <img
            class="insight__slider-img"
            src="./assets/images/insight-slide-2-img.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="insight__slide-head text-p-small">
            <div class="insight__slide-date">
              Published in Insight
              <time datetime="2021-01-3-">Jan 30, 2021</time>
            </div>
            <address class="insight__slide-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__slide-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
