<section class="testimonials">
  <div class="container">
    <div class="testimonials__head">
      <h2 class="testimonials__title heading-h2">
        What our customer are saying
      </h2>
      <p class="testimonials__descr text-p-medium">
        We are trusted numerous companies from different business to meet their
        needs
      </p>
    </div>

    <div class="testimonials__slider-wrapper">
      <div class="testimonials__slider swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="testimonials__slide swiper-slide">
            <div class="testimonials__rating">
              <img
                src="./assets/icons/rating-icon.svg"
                loading="lazy"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials__rating-num text-p-default"> 5.0 </span>
            </div>
            <p class="testimonials__slide-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__slide-author">
              <img
                class="testimonials__slide-author-avatar"
                src="./assets/images/testimonials-author-1.jpg"
                loading="lazy"
                width="56"
                height="56"
                alt="Renee Wells"
              />
              <div class="testimonials__slide-author-info">
                <p class="testimonials__slide-author-name text-p-medium">
                  Renee Wells
                </p>
                <p class="testimonials__slide-author-profession text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="testimonials__slide swiper-slide">
            <div class="testimonials__rating">
              <img
                src="./assets/icons/rating-icon.svg"
                loading="lazy"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials__rating-num text-p-default"> 5.0 </span>
            </div>
            <p class="testimonials__slide-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__slide-author">
              <img
                class="testimonials__slide-author-avatar"
                src="./assets/images/testimonials-author-1.jpg"
                loading="lazy"
                width="56"
                height="56"
                alt="Renee Wells"
              />
              <div class="testimonials__slide-author-info">
                <p class="testimonials__slide-author-name text-p-medium">
                  Renee Wells
                </p>
                <p class="testimonials__slide-author-profession text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
          <div class="testimonials__slide swiper-slide">
            <div class="testimonials__rating">
              <img
                src="./assets/icons/rating-icon.svg"
                loading="lazy"
                width="132"
                height="20"
                alt="Five stars"
              />
              <span class="testimonials__rating-num text-p-default"> 5.0 </span>
            </div>
            <p class="testimonials__slide-text heading-h3">
              “With Agency the results are very satisfying. wrapped with Hight
              quality and innovative design that makes a surge of visitors on my
              website”
            </p>
            <address class="testimonials__slide-author">
              <img
                class="testimonials__slide-author-avatar"
                src="./assets/images/testimonials-author-1.jpg"
                loading="lazy"
                width="56"
                height="56"
                alt="Renee Wells"
              />
              <div class="testimonials__slide-author-info">
                <p class="testimonials__slide-author-name text-p-medium">
                  Renee Wells
                </p>
                <p class="testimonials__slide-author-profession text-p-default">
                  Product Designer, Quotient
                </p>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials__navigation">
      <button class="testimonials__btn testimonials__btn--prev">
        <svg
          width="15"
          height="13"
          viewBox="0 0 15 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.9363 12.3365C6.58483 12.688 6.01498 12.688 5.66351 12.3365L0.263506 6.93649C-0.0879668 6.58502 -0.0879667 6.01517 0.263506 5.6637L5.66351 0.2637C6.01498 -0.0877719 6.58483 -0.0877718 6.9363 0.263701C7.28777 0.615172 7.28777 1.18502 6.9363 1.53649L3.07269 5.4001L13.4999 5.4001C13.997 5.4001 14.3999 5.80304 14.3999 6.3001C14.3999 6.79715 13.997 7.2001 13.4999 7.2001L3.07269 7.2001L6.9363 11.0637C7.28777 11.4152 7.28777 11.985 6.9363 12.3365Z"
            fill="#CED1D8"
          />
        </svg>
      </button>
      <button class="testimonials__btn testimonials__btn--next">
        <svg
          width="15"
          height="13"
          viewBox="0 0 15 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.4636 0.263604C7.81508 -0.087868 8.38493 -0.087868 8.7364 0.263604L14.1364 5.6636C14.4879 6.01508 14.4879 6.58493 14.1364 6.9364L8.7364 12.3364C8.38493 12.6879 7.81508 12.6879 7.4636 12.3364C7.11213 11.9849 7.11213 11.4151 7.4636 11.0636L11.3272 7.2L0.900001 7.2C0.402945 7.2 0 6.79706 0 6.3C0 5.80294 0.402945 5.4 0.900001 5.4H11.3272L7.4636 1.5364C7.11213 1.18492 7.11213 0.615076 7.4636 0.263604Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
